#contreseña-body {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

#contraseña-h1 {
  font-size: 24px; /* Tamaño de fuente cambiado a 24px */
}

#password {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  width: 160px;
  margin-left: 10px;
}
