body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: 100vw 100vh;
}

/* Estilo original para pantallas grandes */

#link-container {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 230px;
  left: 200px;
}

#links-css {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 400px;
  position: absolute;
  top: -170px;
  left: -50px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 80px 35px 80px;
}

#link-h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

#form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"],
#form button {
  width: calc(100% - 10px);
  padding: 5px;
}

#lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.link-item {
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 20px;
  border: 1px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
}

.link-item:last-child {
  margin-right: 0;
}

.link-item h2 {
  margin-top: 0;
}

.link-item a {
  text-decoration: none;
  color: #333;
}

.borrar-btn {
  background-color: #5f5d5d;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
}

/*  CONTRASEÑA  ====> */

#contreseña-body {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 400px;
  position: absolute;
  top: 300px;
  left: 700px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 80px 35px 80px;
}

#contraseña-h1 {
  font-size: 19px;
}

#password {
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
  background-color: rgb(139, 230, 230);
  border-radius: 25px;
  color: black;
}

#botonContraseña {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  width: 160px;
  margin-left: 10px;
  height: 40px;
  margin-top: 20px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition-duration: 02s;
  overflow: hidden;
}

/*  RELOJ DIGITAL  ====> */

#relojDigital-body {
  font-family: Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 40%;
}

#relojDigital {
  display: inline-block;
  padding: 20px;
}

#reloj {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-bottom: 20px;
  margin: center;

  padding: -30px;
}

#fecha-reloj {
  color: rgb(44, 53, 4);
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: -15px;
}

#mensaje-reloj {
  color: whitesmoke;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  width: 400px;
  height: 20px;
}

/* ESTACION METEOROLOGICA  ====> */

.cuerpo-estacion .container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: 100px;
  left: 1300px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 100px 35px 100px;
}

.container h1 {
  text-align: left;
  font-size: 16px;
}

.actual #tiempo {
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
}

.actual #temperatura {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(236, 173, 97);
}

#precipitaciones {
  margin-right: 30px;
  font-size: 13px;
}

#humedad {
  margin-right: 30px;
  font-size: 13px;
}

#viento {
  font-size: 13px;
}

#icono-clima {
  position: absolute;
  top: 25px;
  left: 140px;
  width: 90px;
}

.horas {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hora {
  display: inline-block;
  width: 90px;
  height: 130px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.hora p {
  margin: 10px;
}

.hora img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

/* FOOTER ===> */

.footer img {
  width: 80px;
  margin: 30px;
  position: fixed;
  bottom: 0;
  padding: 20px 0;
}

.nube-img {
  position: absolute;
  top: 550px;
  left: 1630px;
}

.candado-img {
  position: absolute;
  top: 550px;
  left: 1530px;
}

.reloj-img {
  position: absolute;
  top: 550px;
  left: 1430px;
}

.lista-img {
  position: absolute;
  top: 550px;
  left: 1330px;
}
@media (max-width: 1500px) {
  body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  #main-container,
  #links-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  #link-container,
  #links-css,
  #contreseña-body,
  #relojDigital-body,
  .cuerpo-estacion .container {
    padding: 3px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: auto;
    left: auto;
    max-height: 70vh;
  }

  #links-css,
  #contraseña-h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  #lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #lista .link-item {
    width: calc(100% - 20px);
    margin: 10px 0;
  }

  .nube-img,
  .candado-img,
  .reloj-img,
  .lista-img,
  #icono-clima {
    display: none;
  }
}
